.example-spacer{
    flex: 1 1 auto;
}

.loginButton{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
.loginButton:hover{
    
    background-color: #3636a3;
}
.toolbarContainer{
    height: 100%;
}
.sideNav{
    width: 200px;
}
.logo{
    font-size: large;
}
#section{
    background: #b7e1b7;
}
.section{
    display: flex;
    flex-direction: column;
}
.bottomToolbar{
    background: white;
    color: black;
}
.search{
    width: 70%;
    display: flex;
    justify-content: center;
}
p{
    color: #9ac4b2;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}


